[Unit]
Description=FRC-4904 Vision Script
After=network-online.target
# See 4904_webcam.rules
Requires=dev-video0.device
StartLimitIntervalSec=2
StartLimitBurst=5

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/lib
WorkingDirectory=FOLDER_PATH
ExecStart=FOLDER_PATH/target/release/main
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=dev-video0.device
